body{
  background-image: url(../assets/background.jpg);
  background-size: cover;
  display:flex;
  justify-content: center;
  align-items: center;
}
.container{
 
 
 
 margin-top: 100px;
 display:flex;
 flex-wrap: wrap;
 flex-direction: column;
padding-top: 40px;
 
 font-family: Lexend;
 color: white;
 
}
.quote-button{
  background-color: rgb(197, 52, 52);
  color:white;
  font-size: 32px;
  margin-top: 40px;
  width:30%;
  height:fit-content;
  border-radius: 10px;
  border:none;

}
@media screen and (max-width:"991px"){
  .quote-button{
    width:80%;
  }
}